@charset "UTF-8";
/* generales */
html {
  /* etiqueta raíz */
  font-size: 40.5%;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Montserrat';
}

/* Footer */
footer {
  background-color: #381d04;
  width: 100%;
  height: 100px;
  padding: 50px 0 0 0;
}

/* header */
header {
  background-color: #f38f3d;
  width: 100%;
  height: 100px;
  padding: 10px;
}

/*                General               */
* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  font-size: 70.5%;
  margin: 0;
  padding: 0;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background-image: linear-gradient(white, black);
  color: #0f0602;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

ul {
  list-style: none;
}

li {
  color: coral;
}

ul li a:hover {
  background-color: red;
  color: white;
  padding: 2px;
}

img {
  width: 300px;
  height: 300px;
  max-width: 100%;
}

body {
  min-height: 100%;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: wheat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

#TituloGeneral {
  background-color: black;
  color: red;
  text-align: center;
}

.ParrafoHome {
  color: black;
}

.FondoHome {
  background-color: #f7a553;
}

h1 {
  color: #fd0217;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
}

h2 {
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

h3 {
  color: black;
  font-size: 2rem;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #f18b4f;
  font-weight: normal;
  padding: 4px;
  text-transform: unset;
}

/*                           ESTILOS PRODUCTOS                        */
table {
  border: 3px solid;
  font-size: 12px;
}

th {
  background-color: #cc6f13;
  border: 1px solid;
}

tr, td {
  border: 1px solid;
}

Li a {
  text-decoration: none;
}

.Tablon {
  color: cornflowerblue;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: rgba(231, 144, 85, 0.979);
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

/*                              ESTILOS LISTAS                       */
.ListasUnicas {
  color: coral;
}

ol li {
  color: black;
}

.MenuDos {
  list-style: none;
}

/*                                          BOXES y MENU                                      */
p {
  width: 200px;
  border: 15px solid #f7a553;
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Navegacion {
  width: 100%;
  background-color: black;
}

.Navegacion a {
  text-decoration: none;
  font-size: 20px;
  color: #f7a553;
}

.Menu li {
  display: inline-block;
  margin: 0 15px;
  position: relative;
}

.submenu {
  position: absolute;
  display: none;
}

.submenu li {
  display: block;
  background-color: black;
  width: 150px;
  text-align: center;
}

.Menu li:hover .submenu {
  display: block;
}

.BotonComprar {
  background-color: black;
  padding: 0px;
  margin: 0px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div
.Menu {
  font-size: 1.5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

@media (min-width: 768px) {
  .Menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}

li a {
  color: #000;
}

footer {
  background-color: #D90429;
  -webkit-animation-name: footer;
          animation-name: footer;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  color: #EDF2F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  margin: 1px;
}

i {
  font-size: 2rem;
  color: coral;
  background-color: black;
  padding: 30px;
  border-radius: 50%;
}

/*                                          GRIDS                                */
/*                                Animaciones                            */
.Transicion:hover {
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, transform 2s;
  transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  font-size: 4rem;
}

.IMGTR:hover {
  -webkit-transform: rotateY(150deg);
          transform: rotateY(150deg);
}

@-webkit-keyframes footer {
  from {
    background-color: white;
  }
  to {
    background-color: coral;
  }
}

@keyframes footer {
  from {
    background-color: white;
  }
  to {
    background-color: coral;
  }
}

/*                                Cards                           */
.card {
  max-width: 100px;
  margin: auto;
  padding: auto;
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 1px;
}

.card:hover {
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.conteiner {
  padding: 2px 6px;
}

.info__maquineria {
  font-family: fantasy;
}

.contacto--destacado {
  background-color: #000;
}

.contacto__destacado--uppercase {
  text-transform: uppercase;
}

.block {
  color: inherit;
}

.block__element {
  color: inherit;
}

.block__element--modifier {
  color: inherit;
}

/*                     Formularios                             */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #fd0404;
  color: #fc0d0d;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #751313;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*                               MAPA                            */
.map-responsive {
  overflow: hidden;
  padding-bottom: 250px;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/*# sourceMappingURL=styles.css.map */